/*  your css code here. If applicable */
.container{
	width:40%;
	height:50px;
	border:2px solid black;
	border-radius:5px;
	display:flex;
	text-align:center;
	padding:10px;
	background-color:gray;
}
.green{
	background-color:green;
	border-radius:50%;
}
.yellow{
	background-color:yellow;
	border-radius:50%;
}
.red{
	background-color:red;
	border-radius:50%;
}
